div {
    background-color: rgb(205, 19, 19);
    border-radius: 10px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
    body {
        background-color: #03A9F4;
    }
    div {
        width: 95%;
    }
}

html {
    font-size: 15px;
}
body {
    background-color: #FF9800;
}
div {
    width: 85%;
}

@media screen and (min-width: 769px) {
    body {
        background-color: #B0BEC5; /* Fondo gris para versiones de escritorio */
    }
}